body
{
	background-color:#000000;
	width:1900px;
	height:1216px;
}

#wrapper
{
	border:ridge 8px #fff3ff;
	width:1900px;
	height:1216px;;
	margin-left:-16px;
	margin-top:-16px;
	float:left;
}



/////////////////////////    PLACEMENT  ////////////////////////////////



.popperview
{
	position:absolute;
	//background-color:#774433;
	top:200px;
	left:200px;
	width:148px;
	height:148px;
}
.placement_leftpanel
{
	width:178px;
	height:50px;
	//border:ridge 2px #dddddd;
	//background-color:#e2daff;
	float:left;


}
.placement_rightpanel
{
	width:499px;
	height:282px;
	border:ridge 6px #ddddfd;
	//background-color:#ffffff;
	//background-image:url('images/back2.jpg');
	//margin-top:300px;
	float:left;
	color:#cccc00;

}
.placement_bottompanel
{
	width:685px;
	height:152px;
	//border:ridge 2px #dddddd;
	//background-color:#42aa5f;
	margin-top:55px;
	float:left;
	margin-left:180px;
}
.placement_leftpanel_game
{
	width:170px;
	height:180px;
	//border:ridge 2px #dddddd;
	//background-color:#e2daff;
	float:left;
	//clear:both;
}

.placement_rightpanel_game
{
	position:absolute;
	left:180px;
	width:739px;
	height:734px;
	//border:ridge 6px #ddddfd;
	//background-color:#ffffff;
	//background-image:url('images/back2.jpg');
	//margin-top:300px;
	//float:left;
	//position:absolute;
	//left:60px;
	//top:10px;
	//color:#cccc00;
	z-index:2;
}
.placement_bottompanel_game
{
	width:685px;
	height:122px;
	border:ridge 2px #dddddd;
	//background-color:#42aa5f;
	margin-top:55px;
	position:absolute;
	left:100px;
	top:720px;
	margin-left:197px;
}

.innerPlayername
{
	text-align:center;
	margin-left:5px;
	width:125px;
	height:60px;
	//background-color:#42aa5f;
	//border-right:ridge 2px #dddddd;
	float:left;
	font-weight:bold;
}
.innerScoreResult
{
	//background-color:#aaaaaa;
	width:38px;
	height:60px;
	float:left;
	color:white;
}
.turnshowplayer_div
{
	width:170px;
	height:60px;
	//border-bottom:ridge 2px #dddddd;
	//background-color:#f2aa5f;
	font-size:24px;
	line-height:58px;
	color:#000044;
	float:left;
	//margin-top:55px;
	//position:absolute;
	//left:100px;
	//top:720px;
	//margin-left:197px;


}
.turnshowview
{
	width:170px;
	height:246px;
	//border:ridge 4px #dddddd;
	//background-color:#000079;
	//margin-top:55px;
	position:absolute;
	left:0x;
	top:120px;
	//margin-left:197px;


}
.masterstart_button
{
	position:absolute;
	width:70px;
	height:40px;
	left:344px;
	top:770px;
	
	color:#aaaaaa;
	line-height:42px;
	text-align:center;
	background-color:#774433;
	border:groove 2px #ddddfd;
	cursor:default;
}

.cpaneltop
{
	//position:absolute;
	width:720px;
	height:50px;
	//background-color:#ff0000;
	color:#cccccc;
	font-size:24px;
	//padding-top:11px;
	border-bottom:double 3px #ddddff;
	line-height:45px;
}
.cpanelbottom
{
	//position:absolute;
	width:720px;
	height:300px;
	//background-color:#00ff00;
	color:#ffff00;
	//padding-top:11px;
	
}
.cpanelbottom_left
{
	width:70px;
	height:50px;
	float:left;
	border-bottom:double 3px #ddddff;
}
.cpanelbottom_right
{
	width:650px;
	height:50px;
	font-size:21px;
	border-bottom:double 3px #ddddff;
	line-height:45px;
}
#winlose
{
	position:absolute;
	z-index:140;
	width:720px;
	height:350px;
	top:180px;
	left:185px;
	background-color:#000000;
	color:#ffff00;
	display:none;
	//font-size:18px;
	border:double 3px #ddddff;
	background-image:url('images/backresults.jpg');
}

#placement_message2
{
	border:ridge 3px #dddddd;
	position:absolute;
	background-color:#ffffff;
	color:#aaaa55;
	top:5px;
	left:205px;
	width:675px;
	height:45px;
	z-index:1120;
	background-image:url('./images/back_placement.jpg');
	font-size:36px;
	padding:5px;
	display:none;
	align:center;
	font-weight:bold;
}
#lightupcol
{
	position:absolute;
	width:90px;
	height:89px;
	display:none;
	z-index:200;

}

.placement_master_home
{
	//position:absolute;
	left:0px;
	top:0px;
	width:1290px;
	height:675px;
	
	

}
.placement_sub_master
{
	
	left:0px;
	top:0px;
	width:1290px;
	height:50px;

}
.placement_leftpanel_home
{
	width:178px;
	height:50px;
	float:left;
}

.placement_bottompanel_home
{
	width:685px;
	height:152px;
	float:left;
}

.origin
{
	position:absolute;
	left:0px;
	top: 0px;
}

/*.placement_rightpanel_game
{
	width:800px;
	height:700px;
	position:absolute;
	left:460px;
	top:10px;
	color:#cccc00;
	z-index:10;
}*/


/********  PLAYERLIST  *********/

.playerviewcontainer
{
	width:170px;
	height:202px;
	padding:2px;
	float:left;
	border:ridge 2px #dddddd;
	background-image:url('images/back_light.jpg');
}
.playerlistentry
{
	margin-left:1px; 
	font-size:18px;
	border-bottom:solid 1px #bbbbbb;
	margin-bottom:3px;
	padding-bottom:7px;
	background-color:#000;
}

.playerlistentryname
{
	float:left;
	width:106px;
}
.playerlistentryname_green
{
	float:left;
	width:106px;
	color:#aaaa00;
}




/********  CHAT  *********/

.chatpanel_back_tot
{
	width:800px;
	height:100px;
	
}
.chatpanel_back
{
	width:800px;
	height:400px;
	background-color:#ffffff;
	overflow-y: scroll;
	overflow-x: hidden;
	border:ridge 2px #dddddd;
}

.chatinput
{
	margin-top:4px;
	width:1500px;

}
.chatentry
{
	width:100%; 
	height:16px; 
	margin-bottom:4px; 
}
.chatentryusername
{
	font-size:16px; 
	float:left; 
	width:84px; 
	margin-left:11px;
	color:#02007d;
	font-weight:bold;
	height:15px;
}
.chatentrymessage
{
	float:left; 
	font-weight:bold;
	font-family:"Trebuchet MS",Helvetica;
	font-size:13px;
	line-height:15px;
}
.chatentrymessage_bot
{
	float:left; 
	font-weight:bold;
	color:#770044;
}




/********  START BUTTON  *********/

.start_game_button
{
	position:absolute;
	left:12px;
	top:265px;
	z-index:90;
}

.startbutton{
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1;
    width: 150px;
    height:25px;
    font-family: Tahoma;
    font-size:12px;
    background: #FFA500;
    color:#000;
    font-weight:bold;
    cursor:pointer;
    padding-bottom:4px;
    background: -moz-linear-gradient(top, #FFA500 1%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FFA500), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #FFA500 1%, #ededed 100%);
    background: -o-linear-gradient(top, #FFA500 1%, #ededed 100%);
    background: -ms-linear-gradient(top, #FFA500 1%, #ededed 100%);
    background: linear-gradient(to bottom, #FFA500 1%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA500', endColorstr='#ededed', GradientType=0);
}
.startbutton:disabled{
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1;
    width: 150px;
    height:25px;
    font-family: Tahoma;
    font-size:12px;
    background: #aaaaaa;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    padding-bottom:4px;
    background: -moz-linear-gradient(top, #aaaaaa 1%, #aaaaaa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #aaaaaa), color-stop(100%, #aaaaaa));
    background: -webkit-linear-gradient(top, #aaaaaa 1%, #aaaaaa 100%);
    background: -o-linear-gradient(top, #aaaaaa 1%, #aaaaaa 100%);
    background: -ms-linear-gradient(top, #aaaaaa 1%, #aaaaaa 100%);
    background: linear-gradient(to bottom, #aaaaaa 1%, #aaaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#aaaaaa', GradientType=0);
}
.startbutton_activated{
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1;
    width: 150px;
    height:25px;
    font-family: Tahoma;
    font-size:13px;
    background: #009900;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    padding-bottom:4px;
    background: -moz-linear-gradient(top, #009900 1%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #009900), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #009900 1%, #ededed 100%);
    background: -o-linear-gradient(top, #009900 1%, #ededed 100%);
    background: -ms-linear-gradient(top, #009900 1%, #ededed 100%);
    background: linear-gradient(to bottom, #009900 1%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='##009900', endColorstr='#ededed', GradientType=0);
}

.startbutton[disable=]:hover{ background: #ffffff; }








/////////////////////////    HOME HEAD  ////////////////////////////////

.homehead_tot
{
	//position:absolute;
	left:0px;
	top:0px;
	width:1290px;
	height:50px;
	background-color:#222222;

	//clear:both;
	z-index:400;
	float:left;
}


.homehead_backimg
{
	float:left;
	//margin-left:5px;
	width:170px;
	height:50px;
	cursor:pointer;
	text-align:left;
}

.homehead_scorestot
{
	float:left;
	//margin-left:15px;
	width:75%;
	height:50px;

}

.homehead_oneplayerscoretot
{
	float:left;
	width:150px;
	height:45px;
	color:aaaa44; 
	font-weight:bold; 
	font-size:16px;
	text-align:center;
	line-height:48px;
	background-image:url('../lobby/images/b_blue.png');
}
.homehead_oneplayername
{
	float:left;
	width:75px;
	height:50px;
	padding-left:18px;

}
.homehead_oneplayerscore
{
	float:left;
	width:50px;
	height:50px;

}